@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;500;600&display=swap');
.h1-th {
   font-family: 'Prompt', sans-serif !important;

}
.h2-th {
    font-family: 'Prompt', sans-serif !important;
}
.h3-th {
    font-family: 'Prompt', sans-serif !important;
}
.h4-th {
    font-family: 'Prompt', sans-serif !important;
}
.h5-th {
    font-family: 'Prompt', sans-serif !important;
}
.h6-th {
    font-family: 'Prompt', sans-serif !important;
}
.p-th {
    font-family: 'Prompt', sans-serif !important;
    line-height: 23px !important;
}

.li-th {
    font-family: 'Prompt', sans-serif !important;
}
.a-th {
   font-family: 'Prompt', sans-serif !important;
    text-decoration: none !important;
    font-weight: 500 !important;
}
.text-th {
   font-family: 'Prompt', sans-serif !important;
    line-height: 23px !important;
    font-weight: 500 !important;
}
h1,h2,h3,h4,h5,h6 {
    font-weight: 500;
}
p {
    font-size: 16px;
    line-height: 26px;
    font-weight: 300;
}
.body-th,
.body-th h1,
.body-th h2,
.body-th h3,
.body-th h4,
.body-th h5,
.body-th h6 {
    font-family: 'Prompt', sans-serif !important;
}
,h1, h2, h3, h4, h5, h6 {font-weight: 600;}
b, strong {font-weight: 500;}
.desc {
    color: #666 !important;
    line-height: 13px !important;
    margin-left: 22px !important;
    display: block !important;
}
.lf-text-th {
    font-family: 'Prompt', sans-serif !important;
}
.appointment-hero-bg-1 {
    background-image: url(../images/itsupport-thailand.jpg);
    background-repeat: no-repeat;
    background-position: 43%;
    background-size: contain;
    background-color: #3776ab;
}
.appointment-hero-bg-2 {
    /* background-image: url(../images/bg5.webp); */
	background: #010f28;
}
.business-solution-form-wrap {
    background: rgba(255, 255, 255, 0.87);
    padding: 30px 30px 30px;
}
.business-solution-form-wrap textarea{
    height: 70px;
}
h1.slide-header {
    font-size: 60px;
    line-height: 60px;
    /* padding-left: 58px; */
    font-weight: 500;
    /* margin-bottom: 31px; */
    position: relative;
}
h1.slide-header:after {
    /* content: '\f085 '; */
    font-family: "Font Awesome 5 Pro";
    display: block;
    position: absolute;
    left: 0;
    font-size: 42px;
    top: 6px;
}

.thank-tou-page {
    background-position: 70%;
}
.thank-tou-page .align-items-center {
    min-height: 250px;
}
.body-th .check-list .list-item {padding-left: 25px!important; line-height: 23px; font-weight: 400;}
ol li {
    line-height: 28px;
}
@media only screen and (max-width: 1199px) {}
body {
    line-height: inherit;
}
.space-umi {
    padding: 50px 0;
}
.imgwrapper {
    width: 80%;
}
img.umi-responsive {
    width: 100%;
}
.breadcrumb-area {
    padding-top: 90px;
    padding-bottom: 95px;
}
@media (min-width: 100px) and (max-width: 766px) {
    .imgwrapper {
        width: 50% !important;
        float: right;
    }
    .imgwrapper-2 {
        width: 100% !important;
        margin: auto;
    }
}
@media only screen and (max-width: 767px) {
    .hidden-icons-menu.d-block.d-md-none {
        margin-left: 15px;
        display: none !important;
    }
}
.img-center {
    margin: 0 auto;
}
.umi-table {
    text-align: center;
}
.umi-icon {
    fill: #f90;
    color: #f90;
    border-color: #f90;
    font-size: 50px;
}
.space-umi-2 {
    padding: 10px 0;
    margin-top: 60px;
}
.imgwrapper-2 {
    width: 50%;
    margin: auto;
}
.umi-image-center {
    margin: auto;
}
h2.page-list-title.margin-none {
    margin: 0px !important;
    font-size: 15px !important;
    float: inherit;
    line-height: 25px !important;
    padding-top: 5px;
    font-weight: 600;
}
h2.page-list-title.margin-none.double {
    padding-top: 0px !important;
    line-height: 17px !important;
}
.mega-menu-text {
    float: left !important;
    font-size: 14px;
}
.megamenu-icon {
    font-size: 30px !important;
    float: left !important;
    padding: 1px 10px 10px 1px !important;
}
.min-line-height {
    line-height: 20px;
    padding: 4px 2px 4px 6px !important;
}
a.min-line-height:hover {
    background: #fff6e6;
    padding: 4px 2px 4px 6px !important;
    border-radius: 10px;
    color: #696969 !important;
}
.megamenu,
.submenu {
    -webkit-transition: all .2s cubic-bezier(.645, .045, .355, 1);
    -o-transition: all .2s cubic-bezier(.645, .045, .355, 1);
    transition: all .2s cubic-bezier(.645, .045, .355, 1);
    -webkit-transition-delay: .1s;
    -o-transition-delay: .1s;
    transition-delay: .1s;
    -webkit-transition-duration: .1s;
    -o-transition-duration: .1s;
    transition-duration: .1s;
}
.megamenu--mega > li {
    -webkit-flex-basis: 25%;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    border-right: solid 1px #eaeaea;
}
.megamenu--mega > li:last-child {
    border: none
}
.submenu > li > a {
    color: #000 !important;
}
span.social-icon.fab.fa-line {
    /* display: inline-block; */
    /* padding: 0 50px; */
    font-size: 50px !important;
    margin-top: 0px;
    margin-right: 10px;
    float: left;
    line-height: 5px;
    color: #43c606;
}
.phone-num {
    float: right;
    margin-top: 0px;
    line-height: 14px;
}
.language-menu > ul > li ul {
    min-width: 0px !important;
}
.img-border-yellow {
    border: 7px solid #f90;
}
/* cdn page */
.bg-img-cdn {
    background-image: url(../images/cdn/closest-popsite-delivery.svg);
    background-repeat: no-repeat;
    background-position: top;
    min-height: 400px;
    width: 90%;
    margin: 0 auto;
    position: relative;
    top: 20px;
}
.bg-img-cdn-text {
    text-align: center;
    margin-top: 70px;
}
@media (min-width: 100px) and (max-width: 1000px) {
    .bg-img-cdn {
        background-image: none !important;
        background-position: top;
        min-height: auto !important;
        width: auto !important;
        margin: 0 auto;
        position: relative;
        top: auto !important;
    }
}
.tab-gb {
    background: antiquewhite !important;
}
/* cdn page */
/* youtube office365 */
.video-container {
    overflow: hidden;
    position: relative;
    width: 100%;
}
.video-container::after {
    padding-top: 56.25%;
    display: block;
    content: '';
}
.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* youtube office365 */
/* db page */
.umi-db-img {
    margin-top: 0px;
}
.color-one {
    background: #ebfaf2 !important;
}
.color-two {
    background: #fff6e6 !important;
}
.color-three {
    background: #f1f1f1 !important;
}
.color-four {
    background: #ffeef0 !important;
}
.color-bt-one {
    border-top: 4px solid #25c16f !important;
}
.color-bt-two {
    border-top: 4px solid #ffa800 !important;
}
.color-bt-three {
    border-top: 4px solid #08c7fb !important;
}
.color-bt-four {
    border-top: 4px solid #ee5a24 !important;
}
@media (min-width: 100px) and (max-width: 766px) {
    .umi-db-img {
        display: none !important;
    }
}
/* redia page */
.center-middle {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.center-middle img {
    width: 80%;
}
.icon-size {
    font-size: 30px;
    line-height: 0px;
    top: 5px !important;
    position: relative;
    color: #a32422;
}
@media (min-width: 100px) and (max-width: 766px) {
    .center-middle img {
        display: none !important;
    }
}
.color-bl-one {
    border-left: 4px solid #ef6fef !important;
}
.color-bl-two {
    border-left: 4px solid #3accff !important;
}
.color-bl-three {
    border-left: 4px solid #826afa !important;
}
.color-bl-four {
    border-left: 4px solid #b2cc26 !important;
}
.bg-color-gray {
    background: #273039;
    border: 2px solid #5a636c;
    border-radius: 5px;
}
/* sql page */
.heading-middle {
    height: auto;
    margin-top: 60px;
}
@media (min-width: 100px) and (max-width: 766px) {
    .heading-middle {
        height: auto;
        margin-top: 0px !important;
    }
}
/* end sql page */
.bg-gray-5 {
    background: #ebeff2;
}
.center-middle-mongodb {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.center-middle-mongodb img {
    width: 80%;
}
.icon-image-size {
    width: 100px;
    margin-right: 24px;
}
.p-font {
    font-size: 14px;
    line-height: 20px;
}
.umi-table-td {
    text-align: center;
    vertical-align: middle !important;
    font-weight: 600;
}
.color-green {
    background-color: #2da964;
    color: #fff;
}
.color-light-green {
    background: rgba(231, 252, 241, 2);
}
/* index page page */
.blue {
    color: #086AD8 !important;
}
.faq-wrapper .card-header h5 button[aria-expanded="true"] {
    color: #086AD8 !important;
    background: none !important;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: solid 1px #f7f7f7;
}
.faq-wrapper .card-body p {
    line-height: 26px;
}
.faq-wrapper .card-header h5 .umi-tog {
    font-size: 17px !important;
    font-weight: 400 !important;
    padding: 10px 35px !important;
}
.umi-body {
    border-top: 2px solid #086ad8 !important;
    color: #000 !important;
    background: #f5f5f5 !important;
}
.faq-wrapper .umi-card {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
.ul-umi {
    margin: auto !important;
}
ul.nav.ul-umi li {
    margin-left: 35px;
    margin-right: 35px;
}
ul.nav.ul-umi li button:hover {
    color: #086AD8 !important;
}
.border-gray {
    border: 1px solid #d5dbdb;
}
.section-space--ptb_20 {
    padding-top: 20px;
    padding-bottom: 20px;
}
.disable {
    display: none !important;
}
.arrow-umi {
    position: initial !important;
}
.faq-wrapper .card-header h5 button {
    color: #232f3e !important;
}
/* index page page */
.appointment-hero-bg {
    background-color: transparent;
    background-repeat: no-repeat;
    background-image: url(../images/hero/home-appointment-hero-bg-image.webp);
    background-size: cover;
    background-position: 50% 50%;
}
.devop {
    background-color: transparent;
    background-repeat: no-repeat;
    background-image: url("../images/devops/thai-bg-enterprise-devOps-usecase.png");
    background-size: cover;
    background-position: 50% 50%;
}
.devop2 {
    background-color: transparent;
    background-repeat: no-repeat;
    background-image: url("../images/devops/th-devops-usecase.svg");
    background-size: cover;
    background-position: 50% 50%;
}
.devop3 {
    background-color: transparent;
    background-repeat: no-repeat;
    background-image: url("../images/devops/ttsp/common-background.png");
    background-size: cover;
}
@media only screen and (max-width: 767px) {
    .devop {
        background: none !important;
    }
    .devop2 {
        background: none !important;
    }
}
.devli-img {
    float: left;
    margin-right: 20px;
}
.icon-size-it {
    font-size: 30px;
    line-height: 0px;
    top: 5px !important;
    position: relative;
    color: #0099cc;
}
.icon-size-it-2 {
    font-size: 30px;
    line-height: 0px;
    top: 5px !important;
    position: relative;
    color: #ffa800;
}
.umi-icon2 {
    fill: #086ad8;
    color: #086ad8;
    border-color: #086ad8;
    font-size: 50px;
}
.section-space--pt_110-umi {
    margin-top: 110px;
}
@media (min-width: 100px) and (max-width: 766px) {
    .section-space--pt_110-umi {
        margin-top: 0px !important;
    }
}
.umi-row-center {
    width: 84%;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width: 100px) and (max-width: 766px) {
    .umi-row-center {
        width: inherit !important;
        margin-left: inherit !important;
        margin-right: inherit !important;
    }
}
.bg-backup {
    background-color: #001f49;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-image: url("../images/backup/bg.png");
    background-size: 100% auto;
    min-height: 529px;
}
.bg-backup-top {
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    background-image: url("../images/backup/bg-2.jpg");
}
.select-umi {
    border: 1px solid #0f6ed9 !important;
    color: #1b76db !important;
    background: #f8f8f8 url(../images/icons/selector-icon-2.webp) no-repeat center right 20px;
    background-color: #f8f8f8;
    -moz-appearance: none;
    -webkit-appearance: none;
}
.umi-pricing-table__list li {
    padding: 5px 0 !important;
}
.section-space--pb_288 {
    padding-bottom: 288px !important;
}
.section-space--pb_50 {
    padding-bottom: 50px !important;
}
.header.default-menu-style .header-midle-box {
    justify-content: left !important;
}
@media (min-width: 100px) and (max-width: 1199px) {
    .header-bottom-wrap.header-sticky {
        padding: 15px 2px !important;
    }
    .mob-collapse {
        display: none !important;
    }
    button.btn-link.text-center.umi-tog.collapsed {}
}
.header__logo > a img {
    width: 230px !important;
}
.our-customer li {
    display: inline;
    margin: 0px 10px 0px 20px;
    line-height: 7;
}
.our-customer {
    text-align: center !important;
    margin-left: auto;
    margin-right: auto;
}
a.ht-btn.ht-btn-md.eme-btn {
    background: #ff973b !important;
    height: 40px;
    line-height: 20px;
    margin-top: 09px;
    padding: 10px !important;
}
.language-umi > ul > li {
    position: relative;
    display: inline-block;
    line-height: 1;
    padding: 0 5px !important;
}
.language-umi {
    padding-right: 25px;
}
.mobile-eme-btn {
    display: none !important;
}
@media (min-width: 100px) and (max-width: 990px) {
    .eme-btn {
        display: none !important;
    }
    .mobile-eme-btn {
        display: inherit !important;
        background: #fff !important;
        height: auto !important;
        line-height: 20px !important;
        margin-top: 09px !important;
        padding: 20px 0px 20px 10px !important;
    }
}
.navigation-menu.primary--menu > ul > li > a {
    padding: 21px 0px !important;
}
.navigation-menu > ul > li {
    margin: 0px 25px 0px 0px !important;
}
/* hide tab popup desktop */
.mob-collapse {
    display: none !important;
}
button.btn-link.text-center.umi-tog.collapsed {}
a.thai:hover {
    border-bottom: 2px solid;
    padding: 10px 0px 5px 0px;
}
a.thai {
    padding: 10px 0px 5px 0px;
    border-bottom: 2px solid #ffffff;
}
a.eng:hover {
    border-bottom: 2px solid;
    padding: 10px 0px 5px 0px;
}
a.eng {
    padding: 10px 0px 5px 0px;
    border-bottom: 2px solid #ffffff;
}
/* Blink for Webkit and others
(Chrome, Safari, Firefox, IE, ...)
*/
@-webkit-keyframes blinker {
    from {
        opacity: 1.0;
    }
    to {
        opacity: 0.0;
    }
}
.blink {
    text-decoration: blink;
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 0.8s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-direction: alternate;
}
.navigation-menu > ul > li > a {
    font-size: 15px !important;
    font-weight: 300 !important;
}
.bg-img-nas2 {
    background-image: url(../images/nas/bg.jpg);
    /* You must set a specified height */
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
}
.bg-img-nas3 {
    background-image: url(../images/nas/bg2.jpg);
    /* You must set a specified height */
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
}
ul.footer-widget__list.footer-umi-inline li {
    display: inline !important;
    margin-left: 10px;
}
.circle-list .list-item::before {
    background: #0b6cd8 !important;
}
body {
    color: #353030 !important;
}
/* Th pages */
.top-message {
    font-size: 16px !important;
}
#line-thaipc .inner,
#line-thaipc a {
    display: inline-block;
}
#line-thaipc {
    /*position: fixed;
    right: -297px;
    top: 50%;
    padding: 10px 10px 10px 40px;
    background-color: #ffffff;
    border-radius: 10px 0px 0px 10px;
    font-size: 14px;
    line-height: 22px;
    transition: right 0.5s;
    box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.28);
    z-index: 1 !important;
    height: 130px;*/
    display: none;
}
#line-thaipc .inner img.line-add-qrcode {
    width: 110px;
    height: auto;
    float: left;
    margin-right: 10px;
    display: block;
}
#line-thaipc .inner img.line-add-link {
    max-width: 130px;
    margin-bottom: 5px;
    display: block;
}
#line-thaipc .inner a span {
    padding-left: 5px;
    display: block;
}
#line-thaipc.is-active {
    right: 0;
    transition: right 0.5s;
    z-index: 1 !important;
}
#line-thaipc > a {
    background-color: #00c300;
    color: #fff;
    text-align: center;
    height: 130px;
    width: 30px;
    position: absolute;
    left: 0px;
    top: 0;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    padding-top: 9px;
    border-radius: 10px 0px 0px 10px;
}
/* contact us */
.contact-us-card {
    background-color: #086ad8;
    padding: 50px 30px 150px 30px;
    box-shadow: 1px 1px 25px 3px rgba(0, 0, 0, 0.11);
    position: relative;
    overflow: hidden;
    max-width: 430px;
}
.contact-us-card h2 {
    font-size: 35px;
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
    letter-spacing: 1px;
}
.contact-us-card h2:after {
    content: '';
    display: inline-block;
    background-color: #ffffff;
    height: 4px;
    width: 20px;
    position: absolute;
    bottom: 0;
    left: 48%;
}
.contact-us-card h2 span {
    display: block;
    font-size: 17px;
    line-height: 10px;
    color: #fff;
    /* text-transform: uppercase; */
}
.contact-us-card ul.contact-icon li {
    font-size: 18px;
    padding: 22px 0px 22px 50px;
    position: relative;
    line-height: 29px;
    min-height: 40px;
    border-bottom: dashed 2px #efefef;
    color: #ffffff;
}
.contact-us-card ul.contact-icon li:last-child {
    border-bottom: none;
}
.contact-us-card ul.contact-icon li span {
    position: absolute;
    top: 22px;
    left: 0;
    font-size: 30px;
    color: #ffffff;
    width: 40px;
    text-align: center;
}
.contact-us-card .ht-social-networks {
    bottom: 23px;
    position: absolute;
    width: 85%;
}
.contact-us-card .text-white a:hover {
    color: #fff;
}
.contact-us-card .ht-social-networks.solid-rounded-icon .social-link {
    background: 0 0;
    border: 1px solid #ffffff;
    color: #fff;
}
.line-qr {
    position: absolute;
    right: 10px;
    bottom: 10px;
}
.line-qr img {
    width: 110px;
    opacity: 1;
}
.num-for-mob {
    display: none !important;
}
@media (min-width: 100px) and (max-width: 767px) {
    .num-for-mob {
        display: inherit !important;
    }
}
@media (max-width: 991px) {
    .header__logo {
        text-align: center;
        display: block !important;
        margin-bottom: -10px;
    }
    .top-message {
        display: none
    }
}
.top-heading h1 {
    font-size: 30px;
    color: #fff;
}
.top-heading p {
    color: #fff;
}
.appointment-hero-bg-thank-you {
   /* background-image: url(../images/bg5.webp); */
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
	background: #010f28;
}
.call-center-bg:after {
    content: '';
    display: block;
    width: 500px;
    height: 400px;
    background-repeat: no-repeat;
    background-position: center 35px;
    background-image: url(../images/callcenter.png);
    bottom: 0;
    left: 15%;
    position: absolute;
}
.call-center-bg {
    min-height: 600px;
    position: relative;
}
.top-heading.call-center-box {
    font-size: 20px;
    display: block;
    background-color: #3ace00;
    box-shadow: 1px 1px 12px 6px rgba(0, 0, 0, 0.22);
    max-width: 590px;
    padding: 35px 20px;
    margin-right: auto;
    margin-left: auto;
}
@media only screen and (max-width: 500px) {
    .call-center-bg:after {
        left: -96px;
        width: 100%;
        background-size: 340px;
        background-position: 24px 119px;
    }
    .appointment-hero-bg-1 {
        background-size: 0
    }
}
@media only screen and (max-width: 990px) {
    .header-top-wrap.border-bottom .row div {
        text-align: center !important;
    }
    .list-social {
        /* padding: 0 */
    }
    .hide-mb {
        display: none
    }
    .modern-grid--8 {
        grid-row-gap: 30px;
        grid-template-columns: repeat(6, 1fr);
    }
    .call-center-bg:after {
        left: -15px;
    }
}
@media only screen and (max-width: 1400px) {
    .call-center-bg:after {
        left: -50px;
    }
}
.red-num {
    color: #ff0000 !important;
}
.rental-icon {
    font-size: 18px;
    color: #3394d2;
    float: left;
    line-height: 1.4;
    margin-right: 20px;
    margin-left: 20px;
}
.pricing-table-one .pricing-table__feature-mark {
    background: #ff0000 !important;
}
/*rental-computer*/
.appointment-hero-rental {
    /* background-image: url(../images/landing/bg5.webp); */
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
	background: #010f28;
}
.ht-box-icon.style-04 {
    color: #a8d7ff;
    text-shadow: 1px 1px 15px #737373;
}
.ht-box-icon.style-04 .icon-box-wrap {
    padding-left: 50px;
    position: relative;
    margin-bottom: 25px;
    line-height: 22px;
}
.ht-box-icon.style-04 .icon-box-wrap .icon {
    position: absolute;
    left: 0;
    top: 8px;
    font-size: 35px;
}
.marker-quetation {
    position: absolute;
    top: -1px;
    right: -1px;
    width: 0;
    height: 0;
    border-top: 110px solid #F44336;
    border-bottom: 110px solid transparent;
    border-left: 110px solid transparent;
}
.marker-quetation span {
    position: absolute;
    top: -92px;
    right: -35px;
    text-align: center;
    font-size: 19px;
    font-weight: 300;
    line-height: 1.19;
    display: block;
    color: #fff;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 140px;
}
.business-solution-form-wrap.landing-form {
    -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
    border-radius: 0;
    background-color: rgba(255, 255, 255, 0.84);
    position: relative;
    overflow: hidden;
}
/*.business-solution-form-wrap.landing-form .comment-submit-btn {
    background: rgba(255, 151, 59, 1);
    font-size: 20px;
    font-weight: 300;
}*/
.h1-logo {
    line-height: 0px !important;
}
.picing-rental-pc {
    background: #000;
    text-align: center;
    color: #fff;
    font-size: 40px;
    line-height: 55px;
}
.min-line-height {
    line-height: 20px;
    padding: 4px 2px 4px 6px;
    min-height: 120px;
    margin-bottom: 10px;
}
.fas.fa-poll-h.poll-um {
    color: #f89500;
}
.fab.fa-microsoft.microsoft-um {
    color: #0055d8;
}
.fab.fa-google.google-um {
    color: #e44034;
}
.fas.fa-file-excel.excel-um {
    color: #026f38;
}
.fas.fa-cloud.cloud-um {
    color: #ed7e1f;
}
.fas.fa-project-diagram.diagram-um {
    color: #1d0388;
}
.fas.fa-user-secret.secret-um {
    color: #585fc9;
}
.fas.fa-server.server-um {
    color: #001f4c;
}
.fas.fa-database.database-um {
    color: #42769d;
}
.fas.fa-network-wired.wired-um {
    color: #029402;
}
.fas.fa-headset.headset-um {
    color: #f89500;
}
.fas.fa-hands-helping.helping-um {
    color: #0055d8;
}
.fas.fa-ethernet.ethernet-um {
    color: #e44034;
}
.far.fa-building.building-um {
    color: #026f38;
}
.fas.fa-calculator.calculator-um {
    color: #ed7e1f;
}
.fas.fa-fire.fa-fire-um {
    color: #ff4600;
}
.fas.fa-recycle.fa-recycle-um {
    color: #ed7e1f;
}
.fas.fa-laptop.fa-laptop-um {
    color: #585fc9;
}
.fas.fa-tools.fa-tools-um {
    color: #001f4c;
}
.fas.fa-memory.fa-memory-um {
    color: #017109;
}
.fas.fa-share-alt-square.square-um {
    color: #f3a800;
}
.fab.fa-aws.aws-um {
    color: #f89500;
}
.fab.fa-dev.dev-um {
    color: #585fc9;
}
.fas.fa-folder-open.open-um {
    color: #d9d205;
}
.fas.fa-share-alt.share-alt-um {
    color: #f3a800;
}
.fas.fa-ambulance.ambulance-um {
    color: #fc0023;
}
.fas.fa-radiation-alt.radiation-alt-um {
    color: #feb207;
}
.fas.fa-code.code-um {
    color: #1768af;
}
.fas.fa-hdd.hdd-um {
    color: #a15d35;
}
.fas.fa-tasks.tasks-um {
    color: #03c003;
}
.fas.fa-laptop-code.code-um {
    color: #0a0822;
}
.fas.fa-microchip.microchip-um {
    color: #cf7020;
}
/*rental*/
.rental-heading {
    border: 0px solid #dee2e6 !important;
    border-collapse: separate;
    border-spacing: 0 10px;
}
.rental-heading td {
    border: 0px solid #dee2e6 !important;
    border-top: 1px solid #dee2e6 !important;
    border-bottom: 1px solid #dee2e6 !important;
    text-align: center !important;
    vertical-align: middle;
}
.rental-heading th {
    border: 0px solid #dee2e6 !important;
    border-top: 0px solid #dee2e6 !important;
    text-align: center !important;
    vertical-align: middle;
}
.btn-blu1-clr {
    color: #fff;
    background: #408de4;
    transition: all .3s ease-in-out;
}
.xyz12-btn {
    display: inline-block;
    padding: 10px 40px;
    border-radius: 3px;
}
.btn-blu1-clr:hover {
    color: #fff !important;
    background: #286ebc !important;
    transition: all .3s ease-in-out !important;
}
.table-rental-scroll {
    overflow-x: auto;
}
td.border-left-table {
    border-left: 1px solid #dee2e6 !important;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
td.border-right-table {
    border-right: 1px solid #dee2e6 !important;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.xyz12-pric-new {
    font-size: 19px;
}
.lapi {
    background: #2492f0;
    color: #fff;
    font-weight: 800;
}
.deski {
    background: #8a2be2;
    color: #fff;
    font-weight: 800;
}
td.xyz12-pric.xyz12-pric-new {
    background: #c0dcf4;
    font-size: 20px;
    font-weight: 800;
    border-right: 1px solid #ffffff !important;
}
td.xyz12-pric2.xyz12-pric-new2 {
    background: #dbc6ee;
    font-size: 20px;
    font-weight: 800;
    border-right: 1px solid #ffffff !important;
}
/*end rental*/
/*Phone-number*/
.pt-1,
.py-1 {
    font-size: 20px !important;
}
/*End-Phone-number*/
.btn-height-cloud {
    font-size: 15px !important;
    font-weight: 500 !important;
    letter-spacing: 0 !important;
    line-height: 30px !important;
    height: 154px !important;
    min-width: 230px;
}
.btn-height-cloud span {
    margin-bottom: 15px;
}
.h1 {
    font-size: 56px;
}
.top-heading .h1 {
    font-size: 30px;
    color: #fff;
}
.line-icon-button {
    display: inline-block;
    position: fixed;
    right: 15px;
    bottom: 18px;
    font-size: 54px;
    background-color: #00c300;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    overflow: hidden;
    text-align: center;
    color: #00c300;
    box-shadow: 0px 0px 14px 3px rgb(40 167 69 / 50%);
    line-height: 1;
}
.line-icon-button:before {
    display: block;
    position: absolute;
    left: 10px;
    top: 11px;
    content: '';
    width: 39px;
    height: 35px;
    background-color: #fff;
    z-index: -1;
}
.line-icon-button a:hover {
    color: #00c300;
}
.footer-copyright-area {
    border-top: solid 1px #eaeaea;
}
.gsuite_price {
    margin: 29px auto 0;
    max-width: 270px;
}
.gsuite_price li {
    position: relative;
    display: block;
    padding: 7px 0 18px 8px;
}
.company-groups {
    font-size: 13px;
    background-color: #fff;
    /* border: solid 1px #f1f1f1; */
    padding: 10px 24px;
    /* min-width: 243px; */
    display: inline-block;
    text-align: center;
    border-radius: 5px;
    color: #faa742;
    -webkit-transition: all .3s cubic-bezier(.645, .045, .355, 1);
    -o-transition: all .3s cubic-bezier(.645, .045, .355, 1);
    transition: all .3s cubic-bezier(.645, .045, .355, 1);
}
.company-groups:hover {
    color: #4c4c4c;
    background-color: #faa742;
}
.company-groups img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 122px;
}
.appointment-hero-bg-3 {
    background-image: url(/assets/images/banner005.webp);
    background-repeat: no-repeat;
    background-position: 29% center;
    background-size: auto;
    background-color: #00345e;
}
.appointment-hero-bg-acronis {
    background-image: url(/assets/images/bg5-2.jpg);
}
.appointment-hero-text {
    display: none;
}
.aws-banner {
    background-color: #f6f2ed;
    background-image: url(/assets/images/aws-box.png);
    background-repeat: no-repeat;
    background-position: 84% 113%;
    background-size: 500px;
}
.aws-banner .aws.text-color-primary {
    color: #ff9900
}
a.aws.btn.btn--white.btn-one {
    background-color: #f90;
}
.acronis-banner {
    background-color: #14234c;
    background-image: url(/assets/images/acronis-banner.jpg);
    background-repeat: no-repeat;
    background-position: 45% center;
}
.acronis-banner .acronis.text-color-primary {
    color: #1dadec;
}
.nas-banner {
    background-color: #ffe7e7;
    position: relative;
    z-index: 1;
}
.nas-banner:before,
.nas-banner:after {
    content: '';
    width: 27%;
    height: 234px;
    background: url(/assets/images/arrow-left.png);
    position: absolute;
    top: 16px;
}
.nas-banner:before {
    left: 8%;
}
.nas-banner:after {
    right: 8%;
    z-index: -1;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}
.nas-banner .text-color-primary {
    color: #ff4b4b;
}
.nas-banner .btn {
    background-color: #ff4b4b;
}
.ht-box-images.style-04.custom-home {
    box-shadow: 0 0 30px rgb(128 128 128 / 24%);
    border-radius: 10px;
    padding: 34px 30px 34px;
    min-height: 400px;
}
.custom-icon {
    width: 100px;
    height: 100px;
    margin: auto;
    background-image: url(/assets/images/home-icon.png);
    background-repeat: no-repeat;
    font-size: 0;
}
.custom-icon.it-support {
    background-position: 0px 0px
}
.custom-icon.firewall {
    background-position: 0px -100px;
}
.custom-icon.nas-file-server {
    background-position: 0px -200px
}
@media (max-width: 1574px) and (min-width:1350px) {
    .appointment-hero-bg-3 {
        background-position: 5% center;
        background-size: 86%;
    }
}
@media (max-width: 1349px) and (min-width:912px) {
    .appointment-hero-bg-3 {
        background-position: 160% center;
        background-size: 107%;
    }
}
@media (max-width: 911px) and (min-width:766px) {
    .appointment-hero-bg-3 {
        background-position: 116% center;
        background-size: 140%;
    }
}
@media (max-width: 767px) {
    .appointment-hero-bg-3 {
        background-size: 0%
    }
    .appointment-hero-text {
        display: inherit;
    }
}

/*css for clinets */
.border-h-clients {
    border-bottom: 3px solid #5a5a5a;
    padding-bottom: 10px;
}

.mob-cl-space {
    margin-bottom: 20px;
}

/*css end for clinets */

/*css for LP */
.social-icon-uu {
    font-size: 50px!important;
    margin-top: 0;
    margin-right: 10px;
    float: left;
    line-height: 5px;
    color: #43c606;
}

.line-icon-button-uu {
    display: inline-block;
    position: fixed;
    right: 15px;
    bottom: 18px;
    overflow: hidden;
    text-align: center;
    color: #00c300;
    
    line-height: 1;
}


.navigation-menu>ul>li.has-children-uu>a:after {
    position: static;
    margin-left: 5px;
    font-family: "Font Awesome 5 Pro";
    content: none;
    font-size: 14px;
    vertical-align: middle;
    -webkit-transition: all .7s cubic-bezier(.645,.045,.355,1);
    -o-transition: all .7s cubic-bezier(.645,.045,.355,1);
    transition: all .7s cubic-bezier(.645,.045,.355,1);
}
/*css for LP */



.hover-style-link{
	
	font-family: 'Prompt', sans-serif !important;
}

.iILOR {
	    animation-name: auto !important;
	
}

.navigation-menu>ul>li.active>a:before, .navigation-menu>ul>li:hover>a:before {
    width: auto !important;
    min-width: 100% !important;
}

.navigation-menu>ul>li.active>a span, .navigation-menu>ul>li:hover>a span {
    color: rgb(8 106 216) !important;
}

@media only screen and (max-width: 767px) {
    .header__logo {
    min-height: 71px;
    height: 71px;
}
}

.navigation-menu>ul>li.has-children>a:after {
 
    height: 15.2px !important;
    width: 7px !important;
	float: right !important;
}

span.social-icon.fab.fa-line::before {
    width: 43.75px;
    height: 54.4px;
    float: right;
    line-height: 50px;
}




/*css for bitdefender */

.appointment-hero-bg-bit {
    background-image: url(../images/bit/hero-banner-bs-abs.jpg);
}

.appointment-hero-bg-bit-2 {
    background-image: url(../images/bit/aditional-bg.jpg);
	background-size: cover;
    background-position: center;
}


.buyzone__container {
    color: #000;
    background: #fff;
    padding: 20px 60px 30px;
    position: relative;
    border-radius: 5px;
}

.align-items-center {
    -webkit-box-align: center!important;
    -ms-flex-align: center!important;
    align-items: center!important;
}
.d-flex {
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
}
.buybussP {
    color: #111;
    font-weight: 800;
    margin-right: 5px;
    margin-bottom: 0;
    font-size: 16px;
}
.buybussOrange span, .buyzone__discount__value.v2 {
    color: #fc9f3f;
    font-size: 16px;
    font-weight: 800;
}

.buyzone__hr {
    border-width: 1px 0 0;
    border-style: dashed;
    border-color: #ccc;
    margin-bottom: 30px;
}

.smartb #prodSection hr, hr {
    margin: .5em 0;
}

.buyzone__devices-count.v2 {
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 10px;
}

.buyzone__devices-count.v2 {
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 10px;
    font-size: 24px;
    font-weight: 700;
}

.clearfix:after, .clearfix:before {
    content: "";
    display: table;
}

.justRandom {
    position: relative;
    top: -30px;
    right: -20px;
}

.devices__decrease {
    background: #fff;
    display: inline-block;
    cursor: pointer;
    color: #444f5c;
    font-size: 16px;
    padding-left: 1px;
    padding-top: 2px;
    border: 1px solid #ddd;
    width: 50px;
    margin-right: -1px;
    text-align: center;
    vertical-align: middle;
    height: 28px;
}

.devices__number {
    border: 0;
    outline: none;
    background: #fff;
    font-size: 14px;
    border: 1px solid #ddd;
    font-weight: 500;
    width: 60px;
    height: 28px;
    text-align: center;
    user-select: none;
}

.devices__increase {
    background: #fff;
    display: inline-block;
    cursor: pointer;
    padding-top: 2px;
    border: 1px solid #ddd;
    width: 50px;
    margin-left: -5px;
    text-align: center;
    font-size: 16px;
    padding-left: 1px;
    vertical-align: middle;
    height: 28px;
    color: #444f5c;
}

.devicesnr__error {
    color: red;
    font-size: 13px;
    margin: -20px 0 25px 0;
    font-weight: 400;
    display: none;
}

.dvs20 {
    font-size: 14px;
    color: #000000;
    position: absolute;
    top: 0;
    padding: 5px 0;
    background: #fff;
    margin-top: -60px;
    font-weight: 600;
    display: block;
}

.serv20 {
    font-size: 12px;
    color: #333333;
    font-weight: 400;
    padding-top: 10px;
    margin-top: -30px;
}

.clearfix:after {
    clear: both;
}

.buyzone__select-inputs {
    position: relative;
   
    margin-top: 25px;
}

input[type=checkbox], input[type=radio] {
    margin: 4px 0 0;
    margin-top: 1px\9;
    line-height: normal;
}
input[type=checkbox], input[type=radio] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}

.buyzone__label {
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    color: #111;
    display: inline-block;
}
.buyzone__input:checked + .buyzone__label .buyzone__check.v2 {
    box-shadow: inset 0px 0px 0px 3px #fff;
}
.buyzone__input:checked + .buyzone__label .buyzone__check {
    background: #21b6ac;
}

.buyzone__check {
    width: 22px;
    border-radius: 50%;
    height: 22px;
    background: #fff;
    border: 2px solid #21b6ac;
    display: inline-block;
    position: relative;
    vertical-align: -5px;
    margin-right: 5px;
    transition: background-color .2s;
}

.buyzone__input {
    display: none;
}

.dvs20 {
    font-size: 14px;
    color: #000000;
    position: absolute;
    top: 0;
    padding: 5px 0;
    background: #fff;
    margin-top: -27px;
    font-weight: 600;
    display: block;
}


.buyzone__discount.v3 {
    background: #fc9f3f;
    top: -16px;
    left: 12%;
    position: absolute;
    border-radius: 50%;
    text-align: center;
    width: 12em;
    height: 12em;
    color: #fff;
    font-size: 7px;
}

.buyzone__discount__value {
    font-size: 4.8em;
    font-weight: 700;
    line-height: 1;
}

.buyzone__discount__text {
    font-size: 1.8em;
}

.buyzone__old-price-value.v3 {
    color: #777;
    text-decoration: line-through;
    font-size: 21px;
    font-weight: 600;
}

.buyzone__total-value {
    font-size: 30px;
    font-weight: 800;
    text-align: right;
}

.buyzone__total-value {
    font-size: 30px;
    font-weight: 800;
    text-align: right;
}

.addUKInfoDevice {
    font-size: 13px;
    color: #333;
    font-weight: 400;
    text-align: right;
    margin-top: 5px;
}

.buyzone__hr {
    border-width: 1px 0 0;
    border-style: dashed;
    border-color: #ccc;
    margin-bottom: 30px;
}

.button--orange {
    background: #fca031;
    border-color: #fca031;
}

#buy_partner {
    display: none;
    cursor: pointer;
}

.button--orange {
    width: 100%;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 500;
    padding: 13px;
   
    display: block;
    text-align: center;
    border-radius: 5px;
   border: 2px solid #fca031;
    transition: background .2s,border .2s,color .2s;
    line-height: 1;
}

.button--orange:hover {
    width: 100%;
    
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 500;
    padding: 13px;
	color: #fca031;
   border: 2px solid #fca031;
    display: block;
    text-align: center;
    border-radius: 5px;
   background: #fff;
    transition: background .2s,border .2s,color .2s;
    line-height: 1;
}


.custom-icon-bit {
    width: 145px;
    height: 145px;
    margin: auto;
    background-image: url(../images/bit/business-security-1.png);
    background-repeat: no-repeat;
    font-size: 0;
}

.custom-icon-bit-2 {
    width: 145px;
    height: 145px;
    margin: auto;
    background-image: url(../images/bit/business-security-2.png);
    background-repeat: no-repeat;
    font-size: 0;
}

.custom-icon-bit-3 {
    width: 145px;
    height: 145px;
    margin: auto;
    background-image: url(../images/bit/business-security-3.png);
    background-repeat: no-repeat;
    font-size: 0;
}


.ht-tab-menu-bit li a.active {
    color: #696969!important;
    border-color: #ededed !important;
}

.ht-tab-menu-bit li a:hover{
	color: #086ad8 !important;
    border-color: #086ad8!important;
	
}
.text-right-bit {
        text-align:right !important;
    }
@media (min-width: 100px) and (max-width: 766px) {
    .text-right-bit {
        text-align:inherit;
    }
}


/*css end for bitdefender */